---
import FormDB from '../components/formDB.astro';
import Header from '../components/Header.astro';
import Footer from '../components/footer.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Dar de Alta Usuarios</title>
  </head>
  <body>
    <Header />
    <main>
      <FormDB />
    </main>
    <div class="Espacio">
      <Footer />
    </div>
  </body>
</html>


<style>
  
  body {
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Arial, sans-serif;
  }

  body.loaded {
    opacity: 1;
  }

  main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .Espacio{
    margin-bottom: 40px;
  }
</style>

<script>
  
  window.addEventListener('DOMContentLoaded', () => {
    document.body.classList.add('loaded');
  });
</script>

