---
import Layout from '../layouts/Layout.astro';
import gato from '../assets/gato.png';
import '../styles/global.css';
---

<Layout>
    <div class="container-registro">
        <div class="datos-Alumno">
            <h1 class="nombre">Juan Perez</h1>
            <img class="foto-perfil" src={gato.src} alt="perfil-img">
        </div>
        <div class="cards">
            <div class="presents">
                <h2>Present</h2>
            </div>
            <div class="retards">
                <h2>Retards</h2>
            </div>
            <div class="faltes">
                <h2>Faltes</h2>
            </div>
            <div class="justificades">
                <h2>Justificades</h2>
            </div>
        </div>
        
    </div>
</Layout>

<style>
    .container-registro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        background-color: rgba(0, 195, 255, 0.368);
        border-radius: 20px;
    }
    .container-registro h1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .foto-perfil{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .cards{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        border: 3px solid black;
        
    }

</style>