---
import '../styles/global.css';

interface Props {
  coverImage: string;
  titleImage: string;
  characterImage: string;
  href?: string;
}

const { coverImage, titleImage, characterImage, href = '#' } = Astro.props;
---

<a href={href}>
  <div class="card">
    <div class="wrapper">
      <img src={coverImage} class="cover-image" alt="cover" />
    </div>
    <img src={titleImage} class="title" alt="title"/>
    <img src={characterImage} class="character"  alt="char"/>

  </div>
</a>

<style>

</style>