
<div class="container">
    <footer>
        <p style="text-align: center; color: grey; padding: 50px;">&copy; 2026 JKA Systems. All rights reserved.</p>
    </footer>
</div>

<style>
    .container{
        margin-top: auto;
        background-color: rgba(0, 195, 255, 0.368);
        backdrop-filter: blur(8px);
        .container p{
            color: white;
            font-size: 1000px;
        }
    }
</style>